In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [ ]:
pd.set_option("")

In [3]:
pd.read_csv("../cortAIx Factory Data Science Technical Test project #1.csv")

,Unnamed: 0,Employee_ID,Age,Gender,Department,Job_Title,Office_Localisation,Years_at_Company,Satisfaction_Level,Average_Monthly_Hours,Promotion_Last_5Years,Salary,Attrition
0,0,0,27.0,Male,Marketing,Manager,New York,9.0,0.586251,151,0,60132,0.0
1,1,1,53.0,Female,Sales,Engineer,New York,10.0,0.261161,221,1,79947,0.0
2,2,2,59.0,Female,Marketing,Analyst,New York,8.0,0.304382,184,0,46958,1.0
3,3,3,42.0,Female,Engineering,Manager,New York,1.0,0.480779,242,0,40662,0.0
4,4,4,44.0,Female,Sales,Engineer,New York,10.0,0.636244,229,1,74307,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,1000,995,39.0,Female,HR,HR Specialist,New York,3.0,0.377435,239,0,71403,0.0
1001,1001,996,50.0,Male,Engineering,Manager,New York,1.0,0.431152,154,0,30181,1.0
1002,1002,997,52.0,Male,Engineering,Analyst,New York,3.0,0.647102,206,0,64143,0.0
1003,1003,998,37.0,Female,HR,HR Specialist,New York,2.0,0.304813,241,0,74383,1.0
1004,1004,999,59.0,Male,Sales,HR Specialist,New York,1.0,0.940510,159,0,73220,1.0